.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.studio-active:active {
    color: #404BBF;
}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.logo {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--IRIS, #4D5AE5);
}

.logo-color {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--NAVY-BLUE, #2E2F42);
}

.menu-link {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.page-address {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

button {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--IRIS, #4D5AE5);
    color: var(--WHITE, #FFF);    
}

button:hover,
button:focus {
    background: var(--OCEAN, #404BBF);
}

.hero-page {
    background-color: #2e2f42;
}

.hero-text {
    color: var(--WHITE, #FFFFFF);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.advantages-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-page {
    background-color: #FFFFFF;
}

.team-page-our {
    background-color: #F4F4FD;
}

.team-text {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.text-app {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.about-app {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.advantages-page-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.sam-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.about-team {
    background-color: #F4F4FD;
}

.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.name-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-page {
    background-color: #2e2f42;
}

.logo-footer {
    color: #f4f4fd;
}

.text-footer {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.name, .name-text, .name-photo {
    background-color: #FFFFFF;
}

.list-address {
    color: #434455;
}
.menu-link-con {
    color: #434455;
}
